@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Share+Tech&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Share Tech", ui-sans-serif, system-ui, sans-serif;
  --font-bungee: "Bungee", cursive;
}

/* Progress bar animation */
@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
